/TestJSTree/nbproject/private/
/TestJSTree/build/
/TestJSTree/dist/
/ServerChat/nbproject/private/
/ServerChat/build/
/ServerChat/dist/
/PhpProject1/nbproject/private/
/JavaPlayer/nbproject/private/
/JavaPlayer/build/
/JavaPlayer/dist/